osx_image: xcode7.3
language: objective-c

before_install:
  - pod repo update --silent

before_script:
  - gem install xcpretty
  - gem install xcpretty-travis-formatter

script:
  - set -o pipefail && xcodebuild -workspace FoursquareTop.xcworkspace -scheme FoursquareTop -destination 'platform=iOS Simulator,name=iPhone 6s Plus' build CODE_SIGN_IDENTITY=- | xcpretty -f `xcpretty-travis-formatter`
  